# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
env/
.venv/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.mo
*.db
*.sqlite3

# Media & static files (collected/static-generated)
media/
staticfiles/

# Unit test / coverage reports
.coverage
.tox/
.nox/
.pytest_cache/
coverage.xml
htmlcov/

# IDE & editor files
*.swp
*.swo
*.idea/
.vscode/
*.DS_Store

# Environment variables
.env

# Docker / Compose
docker-compose.override.yml
